/* UploadPage.css */
.upload-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(120, 107, 203);
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 10px 10px 5px rgb(102, 89, 184);
  margin: 20px auto;
  width: 30%;
  height: 500px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
 
}

.upload-page-container h2 {
  margin-bottom: 20px;
  color: whitesmoke;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px ;
 
}

.upload-button, .view-button {
 
  padding: 10px  20px;
    background-color: #eeeeee;
    color: black;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
  transition: background-color 0.3s ease;
}

.upload-button:hover, .view-button:hover {
  background-color: rgb(169, 168, 168);
}
